body {
  height: 100vh;
  overflow: hidden;
  position: relative;

  margin: 0;
}

.text-field {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -40vh);
  width: 90%;
  min-width: 300px;
  max-width: 500px;
  /* margin: 3rem; */
  max-height: 70%;
  background-color: rgb(215, 215, 215);
  padding: 5rem;
  border: 3px solid rgb(156, 156, 156);
  border-radius: 5px;
  box-sizing: border-box;

  word-wrap: break-word;
  overflow: auto;
}

.letter {
  display: inline-block;
  font-size: 24px;

  transition: scale 0.2s ease;
}
.prepare {
  display: absolute;
  scale: 5;
}
